/* ViewUsersPage.css */

/* Style for the admin content area */
.admin-content {
    display: flex;
  }
  
  /* Style for the admin sidebar */
  .admin-sidebar {
    width: 250px; /* Set the initial width */
    min-width: 250px; /* Set the minimum width to the same value */
    max-width: 250px; /* Set the maximum width to the same value */
    background-color: #453f4e; /* Sidebar background color */
    padding: 20px;
    height: 1000px; /* Adjust height as needed */
  }
  
  
  /* Style for the main content area */
  .view-appointments {
    flex: 1;
    padding: 20px;
  }
  
  /* Style for the appointments container */
  .appointments-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #ffffff;
    margin: 20px;
  }
  

  .view-users {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #ffffff;
    margin: 20px;
  }
  