.team-page {
    text-align: center;
    padding: 20px;
  }
  
  .team-title{
    font-size: 36px;
    color: #3d15f1;
  }
  
  .subtitle {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .team-description {
    font-size: 18px;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
  }

  /* Team.css */


  
  
